* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bg-color: #F9F9F9;
    --main-color: #3d155f;
    --bg-sec: #4831d4;
}
body {
    background-color: #f5f6f7;
}
nav {
    position: fixed;
    font-family: "Audiowide", sans-serif;
    right: 5%;
    top: 5rem;
    width: 15rem;
    height: fit-content;
    z-index: 20;
    display: none;
}

nav li {
    list-style: none;
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems .4s linear forwards;
    transform-origin: top right;
    opacity: 0;
    margin-top: -1px;
    box-shadow: 0 4px 6px rgba(0, 0, 100, 0.1);
}
nav li:nth-child(2) {
    animation-delay: .2s;
}
nav li:nth-child(3) {
    animation-delay: .4s;
}
nav li:nth-child(4) {
    animation-delay: .6s;
}
.nav-links a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: rgb(41, 22, 65);
    background-color: #98ca56;
    display: grid;
    place-items: center;
    transition: .3s;
    
}
.nav-links a:visited {
    color: rgb(41, 22, 65);
}
.nav-links a:hover {
    background-color: #7dad43;
    border-radius: 8px;
    /* color: #98ca56; */
    text-decoration: underline; 
}

@keyframes animateNavItems {
    0% {
        transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }
    100% {
        transform: rotateZ(0) rotateX(0) scale(1);
        opacity: 1;
    }
}
.fa-bars {
    color: #98ca56;
    padding: .6rem;
    font-size: 1.6rem;
    text-shadow: 3px 3px 3px #010413;
    cursor: pointer;
}
.fa-x {
    color: #98ca56;
    padding: .6rem;
    font-size: 1.5rem;
    text-shadow: 3px 3px 3px #010413;
    cursor: pointer;
    display: none;
}
.logo-fixed {
    position: fixed;
    top: 1.1rem;
    font-size: 2rem;
    transition: .400ms;
    display: none;
    z-index: 12;
}
.fixed1 {
    display: block;
    transition: .4s;

}
.logo-name1 {
    display: none;
}
.logo {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    padding: 2rem;
    /* font-family: "Sofia", sans-serif; */
    font-family: "Audiowide", sans-serif;
    font-size: 2.5rem;
    text-shadow: 5px 5px 5px #010413;
    color: #98ca56;

}
.menu {
    position: fixed;
    right: 2rem;
    top: 1rem;
    z-index: 19;
}
.left-hero {
    background-color: #4831d4;
    width: 68%;
    /* min-height: 600px; */
    

}
.right-hero {
    background-color: #98ca56;
    width: 32%;
    /* min-height: 600px; */
}
.hero {
    display: flex;
    height: auto;
}
.hero-text {
    width: 60%;
    /* margin:  0 auto; */
    margin-left: 6.3rem;
    padding: 2.2rem;
    color: #98ca56;
}

.hero-image {
    position: relative;
    margin-top: 180px;
    margin-left: -120px;
    width: 300px;
    height: 300px;
    border: 1px solid white;
}
.hero-image::before {
    content: '';
    background-image: url('Brian1.png');
    background-repeat: no-repeat;
    background-position: top;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 30px;
    right: 30px;
    border: none;
    background-color: rgb(41, 22, 65);


}

.hero-subtitle {
    display: flex;
    gap: 2rem;
    padding-top: 1.7rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-family: "Trirong", serif;
    line-height: 1.2;
}
.main-title {
    width: 100%;
    margin-bottom: 2.5rem;
}
.main-title p {
    color: aliceblue;
    font-size: 1.5rem;
}
.python-inf {
    color: aliceblue; 
}
.title {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1rem;
}
.title-point {
    color: #ffffff;
}
.sect-info {
    display: flex;
    justify-content: space-between;
}
.info {
    max-width: 80%;
    margin: 100px auto;
    padding: 2rem;
    transition: .5s;
    background-color: white;
    font-family: "Audiowide", sans-serif;
}


img {
    width: 100%;
}
.info h1 {
    color: blue;
    font-size: 3.3rem;
    margin-bottom: 1.2rem;
}
.info p {
    color: #27214d;
    
}
.left-info,.right-info {
    width: 45%;
}
.left-info-text {
    margin-bottom: 1.3rem;
}
.left-info img {
    border-radius: 5px;
    display: block;
}
.info-img {
    opacity: 0;
    transform: scale(0);
    transition: 5s ease;
}
.text {
    transform: translateX(-100%) scale(0);
    opacity: 0;
    transition: 3s ease;
}
.text-transform {
    transform: translateX(0%) scale(1);
    opacity: 1;
    
}
/* animate info section ends*/
.about {
    background-color: #4831d4;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.about-me {
    /* background-color: #5038eb; */
    max-width: 75%;
    margin: 40px auto;
    padding: 1.3rem;
}
.profile-info {
    padding: .6rem 0;
    color: white;
    font-size: 1.1rem;
    font-family: "Trirong", serif;
    line-height: 1.2;
}
.open-quote {
    text-align: center;
    font-size: 8rem;
    color: #98ca56;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.skill-text_color {
    color: #8ff50a;
}
.my-work {
    position: relative;
    background-color: transparent;
    padding: .8rem 1.9rem;
    color: #4831d4;
    outline: none;
    border: 1px solid #4831d4;
    text-transform: uppercase;
    font-size: .7rem;
    line-height: 1;
    letter-spacing: 0;
    font-weight: bold;
    transition: color .3s;
    margin-top: 1.5rem;
    cursor: pointer;
}
.my-work::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4831d4;
    transition: width .6s;
}
.my-work:hover {
    color: white;
}
.my-work:hover::before {
    width: 100%;


}
.source-link {
    position: inherit;
    z-index: 9;
    transition: .8s;
}
.projects-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 85%;
    margin: 3rem auto;
    background-color: ghostwhite;
    padding: 1rem;
    transition: .3s;
}
.project-1 {
    
    width: 50%;
}
.project-2 {
    border-left: .5px solid;
    border-image: linear-gradient(ghostwhite,blue);
    border-image-slice: 1;
    width: 50%;
}
.project-description {
    margin: 1.2rem 0;
    font-size: 1rem;
    font-family: verdana;
    color: #2b2841;
}
.project-name {
    color: #4831d4;
    font-family: verdana;
    font-size: 1.7rem;
}
.projects h2 {
    text-align: center;
    font-size: 2.4rem;
    margin: 2rem;
    color: #605b83;
    text-transform: uppercase;
}
.project-1,.project-2 {
    padding: 2.5rem;
}
.practice-projects {
    text-align: center;
    font-size: 1.4rem;
    color: rgba(59, 59, 78, 0.9);
    transition: 4s ease;
    margin-bottom: .5rem;

}

.more-projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin: 3rem auto;
    
    padding: 1.9rem;
}
/* .more {
    width: 30%;
    height: auto;
    text-align: center;
    background-color: rgba(59, 59, 78, 0.9);
    color: #f5f6f7;
    border-radius: 4px;
    overflow: hidden;
    transform: scale(0);
    transition: 4s ease;
    animation-delay: 6s;
    opacity: 0;
} */
.add-visual {
    opacity: 1;
    transform: scale(1);
}
.more-title {
    padding-top: .7rem;
    font-size: 1.1rem;
    font-family: tahoma;
    font-weight: normal;
}
.more-info {
    padding: 1.5rem;
    line-height: 1.3;
}
/* .more-projects button {
    padding: .5rem;
    width: 80%;
    margin-bottom: 1.6rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    outline: none;
    border: none;
} */
/* .more-projects button:hover {
    background-color: rgba(59, 59, 78, 0.2);
    border: 1px solid rgba(59, 59, 78, 1);
    color: #F9F9F9;
    
} */
.demo-vid {
    width: 100%;
    object-fit: cover;
    height: 50%;
}

/*carousel css....*/
.slider {
    position: relative;
    overflow: hidden;
 }
 
 .slider_nav_prev {
    position: absolute;
    left: 3%;
    top: 50%;
 }
 .slider_nav i {
    background: transparent;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.5rem;
    text-align: center;
    color: #aaa;
    border-radius: 50%;
    outline: none;
    border: 1px solid grey;
    transition: .5s;
    cursor: pointer;
    
}
.slider_nav i:hover {
    color: whitesmoke;
    border: 1px solid whitesmoke;
}
 .slider_nav_next {
    position: absolute;
    right: 3%;
    top: 50%;
    color: azure;
 }
 .slider_slides-cont {
    width: 100%;
    margin: 0 auto;
 }
 .icon-container {
    display: inline-block;
    margin: 10px;
 }
 
 .slide_caption {
    position: absolute;
    line-height: 1.3;
    font-family: "Trirong", serif;
    text-align: center;
    color: #fff;
    bottom: 10%;;
 }
 .slide_caption,.slider_pagination {
    left: 50%;
    transform: translate(-50%);
 }
 .slider h5 {
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.4rem;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
 }
 .slider_slide {
     width: 100%;
     /* max-width: 900px; */
     display: none;
  }
  
  .slider_slide:first-child {
     display: block;
  }
  
  .slider_slide > img {
     width: 100%
  }

 
  /* =====pagination styles==== */
  .slider_pagination {
    position: absolute;
    bottom: 3%;
  }
  .slider_pagination_btn {
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
 }
 
 /* Actual pagination circle */
 .slider_pagination_btn:before {
    content: '';
    display: inline-block;
    padding: 6px;
    border-radius: 100%;
    background-color: #ccc;
 }
 .slider_pagination_btn:hover {
    background-color: transparent;
 }
 .slider_pagination_btn:focus {
    background-color: transparent;
  }
 
  .slider_pagination_btn.slider_pagination_btn--sel:before {
    /* background-color: black ;*/
    background-color: #8ff50a;
 }

 .corousel-option {
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    color: white;
    margin-left: .3rem;
    padding: .4rem;
    font-size: .8rem;
    font-family: Tahoma, sans-serif;
    border-radius: 3px;
    transition: .9s;
 }
/*carousel css ends....*/

.input-container {
    border: none;
    width: 60%;
    margin: 0 auto;
    background-color:#f5f6f7 ;
    padding: 1.2rem;
}
label,input {
    display: block;
    border: none;
    font-family: Tahoma;
    color: #010413;
}
input {
    border-bottom: 1px solid grey;
    width: 100%;
    outline: none;
    padding: 1.2rem 0;
    margin-bottom: 1rem;
    
}
textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 1px solid var(--main-color);
}
#invalid-input {
    text-align: center;
    color: red;
    font-size: .9rem;
    margin-top: 1rem;
}
.required {
    color: red;
}
.message {
    text-align: center;
    font-family: Tahoma;
}
.contact h3 {
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
    /* color: var(--main-color); */
}
.contact p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.submit {
    text-align: center;
}
.sub-btn {
    padding: .7rem 4rem;
    margin-bottom: 3rem;
    border: 1px solid var(--bg-sec);
    color: var(--bg-sec);
}
.text-message {
    margin-bottom: 1rem;
}
.footer {
    padding: 1.4rem;
    text-align: center;
    background-color: rgb(51, 63, 62);
    font-family: "Trirong", serif;
    color: #98ca56;
   
}

label,input,textarea {
    background-color: #f5f6f7; 
    color: #000;
    /* background-color: var(--bg-color); */
    outline: none;

}
.contact {
    background-color: #f5f6f7; 
    color: #010413;
    /* background-color: var(--bg-color); */
    margin-top: 4rem;
}

/*==========media queries===========*/

@media (max-width: 998px) {
    .title {
        font-size: 3rem;
    }
    .main-title p {
        font-size: 1rem;
    }
    .hero-subtitle {
        font-size: .8rem;
    }
    .info h1 {
        font-size: 2.3rem;
    }
    .logo {
        font-size: 2rem;
    }
    .hero-text {
        padding: 2rem;
    }
}

@media(max-width: 842px) {
    .hero-image {
        width: 250px;
        height: 250px;
    }
}
@media(max-width: 758px) {
    .hero-image {
        width: 200px;
        height: 200px;
        margin-left: -100px;
        margin-top: 200px;
    }
    .title {
        font-size: 2.5rem;
    }
    .info h1 {
        font-size: 2rem;
    }
}
@media(max-width: 730px) {
.hero {
    display: flex;
    flex-direction: column;
    height: auto;
}
.right-hero {
    width: 100%;
}
.left-hero {
    width: 100%;
}
.hero-image {
    margin: 4rem auto;
}
.hero-text {
    width: 80%;
    padding: .3rem;
    margin: 0 auto;
}
.info {
    width: 100%;
    padding: 1.5rem;
}
.sect-info {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.right-info  {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}
.left-info {
    width: 100%;
}
.right-info h1 {
    margin-top: .6rem;
}
.right-info-text p {
    margin-top: .3rem;
}
.projects-wrapper {
    display: flex;
    flex-direction: column;
}
.project-1, .project-2 {
    width: 100%;
}
.project-2 {
    border: none;
    border-top: .2px solid blue;
    
}
.project-name {
    font-size: 1.5rem;
}

.logo {
    margin-bottom: 1rem;
    margin-left: .7rem;
    padding: .9rem;
}
.contact h3 {
    font-size: 2rem;
}
.input-container {
    width: 90%;
}
.hero-subtitle {
    font-size: .9rem;
}
.main-title {
    margin-bottom: .6rem;
}

}
@media(max-width: 560px) {
    .slide_caption {
        bottom: 12%;
        display: none;
    }
    .slider h5 {
        font-size: 1.2rem;
        margin-bottom: .7rem;
    }
    .slider p {
        font-size: .8rem;
    }
    .slider_nav i {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        font-size: 1.3rem;
        
    }
    .source-link {
        font-size: .5rem;
    }
    .main-title {
        margin-bottom: 1.5rem;
    }
    .hero-image {
        width: 210px;
        height: 210px;
    }
    .hero-image::before {
        
        bottom: 15px;
        right: 15px;
    }
    .profile-info {
        padding: .6rem 0;
        font-size: .9rem;
        line-height: 1.1;
    }
    .practice-projects {
        margin-top: -3rem;
    }
    .contact {
    margin-top: .8rem;
    }
    .corousel-option {
        font-size: .6rem;
    }
    .contact h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
        line-height: 1;
    }
    .projects-wrapper {
        /* max-width: 85%; */
        padding: .6rem;
        
    }

    
}
@media(max-width: 340px) {
    .contact h3 {
        font-size: 1.8rem;
    }
    .contact p {
        font-size: 1rem;
        /* margin-bottom: 2rem; */
    } 
}