:root {
    --bg-color: #F5F6F7;
    --main-color: #3d155f;
    --bg-sec: #4831d4;
    --color-primary: #98ca56;
    --text-color: #000000;
    --text-shadow-color: #010413;
    --accent-color: #0000ff;
    --hero-img-bg: #291641;
    --theme-color: #e5e7eb;
    --card-bg: rgba(255, 255, 255, 0.6);
    --bigCard-bg: rgba(255, 255, 255, 0.4);
    --headerBtn-color: rgba(0, 0, 255, .5);

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    background-color: var(--bg-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bg-canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
  /* background: #0b0e14; */
}

.dark-mode {
    --bg-color: #2b2926; 
    --main-color: #8a1919;
    --bg-sec: #201e21;
    --color-primary: rgb(69, 68, 68);
    --text-color: #e5e7eb;
    --theme-color: #e5e7eb;
    --text-shadow-color: grey;
    --accent-color: #64666a;
    --hero-img-bg: #47494b;
    --card-bg: rgba(0, 0, 0, 0.6);
    --bigCard-bg: rgba(255, 255, 255, 0);
    --headerBtn-color: rgba(32, 30, 33, .7);
}

#theme-switch{
    height: 28px;
    width: 28px;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 26px;
    right: 18px;
    border: none;
    outline: none;
    color: var(--text-color);
    cursor: pointer;
    z-index: 20;

}
html {
    scroll-behavior: smooth;
}
/* #theme-switch svg{
    fill: var(--color-primary);
} */
#theme-switch svg:last-child {
    display: none;
}
.dark-mode #theme-switch svg:first-child {
    display: none;
}
.dark-mode #theme-switch svg:last-child {
    display: block;
}
/* dots css start here */
.dot-nav {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.dot-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dot-nav li a {
  display: block;
  width: 12px;
  height: 12px;
  margin: 15px 0;
  background-color: var(--text-color);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.dot-nav li a:hover,
.dot-nav li a.active {
  background-color: var(--theme-color);
  transform: scale(1.3);
}

.dot-nav li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dot-nav li a::after {
  content: attr(aria-label);
  position: absolute;
  right: 30px;
  background-color: #333;
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  
  
  opacity: 0;
  transform: translateX(10px);
  transition: all 0.3s ease;
  pointer-events: none; 
}

.dot-nav li a:hover::after {
  opacity: 1;
  transform: translateX(0);
}
.dot-nav li a:hover::before {
  content: "";
  position: absolute;
  right: 24px;
  border-width: 6px 0 6px 6px;
  border-style: solid;
  border-color: transparent transparent transparent #333;
  opacity: 1;
  transition: opacity 0.3s ease;
}



/* and end here! */
.logo-fixed {
    position: fixed;
    top: 1.1rem;
    font-size: 2rem;
    transition: .400ms;
    display: none;
    z-index: 12;
}
.fixed1 {
    display: block;
    transition: .4s;

}
.logo-name1 {
    display: none;
}
.logo {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    padding: 2rem;
    /* font-family: "Sofia", sans-serif; */
    font-family: "Audiowide", sans-serif;
    font-size: 2.5rem;
    text-shadow: 5px 5px 5px var(--text-shadow-color);
    color: var(--color-primary);

}
/* .menu {
    position: fixed;
    right: 2rem;
    top: 1rem;
} */
.left-hero {
    background-color: var(--bg-sec);
    width: 68%;
    /* min-height: 600px; */
    

}
.right-hero {
    background-color: var(--color-primary);
    width: 32%;
    /* min-height: 600px; */
}
.hero {
    display: flex;
    height: auto;
}
.hero-text {
    width: 60%;
    /* margin:  0 auto; */
    margin-left: 6.3rem;
    padding: 2.2rem;
    color: var(--color-primary);
}

.hero-image {
    position: relative;
    margin-top: 180px;
    margin-left: -120px;
    width: 300px;
    height: 300px;
    border: 1px solid var(--theme-color);
}
.hero-image::before {
    content: '';
    background-image: url('Brian1.png');
    background-repeat: no-repeat;
    background-position: top;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 15px;
    right: 15px;
    border: none;
    /* background-color: #291641; */
    background-color: var(--hero-img-bg);


}

.hero-subtitle {
    display: flex;
    gap: 2rem;
    padding-top: 1.7rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    /* font-family: "Trirong", serif; */
    line-height: 1.2;
}
.main-title {
    width: 100%;
    margin-bottom: 2.5rem;
}
.main-title p {
    color: var(--theme-color);
    font-size: 1.5rem;
}
.python-inf {
    color: var(--theme-color); 
}
.title {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1rem;
}
.title-point {
    color: var(--theme-color);
}

/*bounce arrow code starts here*/
.hero-footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8px;
    padding-bottom: 20px;
    padding-top: 4px;
    width: fit-content;
}

.action-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.view-work-btn {
    text-decoration: none;
    background: var(--color-primary);
    /* background: #3776AB; */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.95rem;
    transition: transform 0.2s ease;
}

.view-work-btn:hover {
    transform: translateY(-2px);
    background: var(--headerBtn-color);
}

.social-icons {
    display: flex;
    gap: 10px;
}
.social-icons i{
    background-color: transparent;
    color: var(--theme-color);
}
.social-icons i:hover {
    color: rgb(43, 41, 38);
}

.social-icons a {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.3s ease;
}

.scroll-arrow {
    color: var(--color-primary);
    text-decoration: none;
}

.animate-bounce {
    animation: human-bounce 2s cubic-bezier(0.28, 0.84, 0.42, 1) infinite;
}

 @keyframes human-bounce {
    0%, 100% { 
        transform: translateY(0); 
        animation-timing-function: linear; /* Slow descent */
    }
    50% { 
        transform: translateY(12px); 
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Fast bounce back */
    }
}


/* ends here */

.info {
    max-width: 100%;
    padding: 6rem 0;
    transition: .5s;
    background-color: var(--bigCard-bg);
    /* font-family: "Audiowide", sans-serif; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.sect-info {
    display: flex;
    max-width: 85%;
    justify-content: space-between;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: .3rem;
    background-color: var(--card-bg);
    box-shadow: 1px 1px 1px var(--text-color);
}

img {
    width: 100%;
}
.info h1 {
    color: var(--accent-color);
    font-size: 3.3rem;
    margin-bottom: 1.2rem;
    font-family: "Audiowide", sans-serif;
}
.info p {
    color: var(--text-color);
    /* font-family: tahoma; */
    /* color: var(--main-color); */
    
}
.left-info,.right-info {
    width: 45%;
}
.left-info-text, .right-info-text {
    margin-bottom: 1.3rem;
}
.left-info img, .right-info img {
    border-radius: 5px;
    display: block;
}
.info-img {
    opacity: 0;
    transform: scale(0);
    transition: 5s ease;
}
.text {
    transform: translateX(-100%) scale(0);
    opacity: 0;
    transition: 3s ease;
}
.text-transform {
    transform: translateX(0%) scale(1);
    opacity: 1;
    
}
/* animate info section ends*/
.about {
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: var(--bigCard-bg);
}

.about-me {
    background-color: var(--card-bg);
    max-width: 85%;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: .3rem;
    box-shadow: -1px 1px 1px var(--text-color);
}
.profile-info {
    padding: .6rem 0;
    color: var(--text-color);
    font-size: 1.1rem;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, serif; */
    line-height: 1.2;
}
.open-quote {
    text-align: center;
    font-size: 8rem;
    color: var(--color-primary);
    line-height: 1;
    padding: 0;
    margin: 0;
    font-family: serif;
}

.skill-text_color {
    /* color: #8ff50a; */
    color: var(--accent-color);
}
.my-work {
    position: relative;
    background-color: transparent;
    padding: .8rem 1.9rem;
    color: var(--text-color);
    outline: none;
    /* border: 1px solid #4831d4; */
    border: 1px solid var(--text-shadow-color);
    text-transform: uppercase;
    font-size: .7rem;
    line-height: 1;
    letter-spacing: 0;
    font-weight: bold;
    transition: color .3s;
    margin-top: 1.5rem;
    cursor: pointer;
}
.my-work::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--theme-color);
    transition: width .6s;
}
.my-work:hover {
    color: #000;
}
.my-work:hover::before {
    width: 100%;


}
.source-link {
    position: inherit;
    z-index: 9;
    transition: .8s;
}
.projects {
    text-align: center;
    background-color: var(--bigCard-bg);
    padding-bottom: .3rem;
}
.projects-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 85%;
    margin: 3rem auto;
    background-color: var(--card-bg);
    padding: 1rem;
    transition: .3s;
    box-shadow: 1px 1px 1px var(--text-color);
    border-radius: .3rem;
}
.project-1 {
    
    width: 50%;
}
.project-2 {
    border-left: .5px solid;
    border-image: linear-gradient(ghostwhite,var(--text-shadow-color));
    border-image-slice: 1;
    width: 50%;
}
.project-description {
    margin: 1.2rem 0;
    font-size: 1rem;
    /* font-family: verdana; */
    color: var(--text-color);
}
.project-name {
    color: var(--text-shadow-color);
    font-family: verdana;
    font-size: 1.7rem;
}
.projects h2 {
    text-align: center;
    font-size: 2.4rem;
    margin: 2rem;
    padding: 0 .4rem;
    border-radius: .3rem;
    color: var(--text-color);
    text-transform: uppercase;
    background-color: var(--card-bg);
    display: inline-block;
    box-shadow: 0 1px 2px var(--theme-color);
}
.project-1,.project-2 {
    padding: 2.5rem;
}
.practice-projects {
    text-align: center;
    font-size: 1.4rem;
    color: var(--text-color);
    transition: 4s ease;
    margin-bottom: .5rem;

}

.add-visual {
    opacity: 1;
    transform: scale(1);
}
.more-title {
    padding-top: .7rem;
    font-size: 1.1rem;
    font-family: tahoma;
    font-weight: normal;
}
.more-info {
    padding: 1.5rem;
    line-height: 1.3;
}

/* .demo-vid {
    width: 100%;
    object-fit: cover;
    height: 50%;
} */

.gallery-container {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    font-family: Tahoma;
    border-radius: .3rem;
    background-color: var(--bigCard-bg);
    box-shadow: -1px 1px 1px var(--text-color);
}

.image-box {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: .3rem;
    background: #000;
}

.image-box img {
    width: 100%;
    display: block;
    transition: transform 0.5s ease;
}

.image-box:hover img {
    transform: scale(1.1);
    filter: blur(2px) brightness(0.8);
}

.image-box::before {
    content: "View Project Details +";
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--color-primary);
    color: var(--theme-color);
    padding: 6px 14px;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 20px;
    z-index: 10;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.image-box:hover::before {
    opacity: 0;
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 17px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(15px);
    transition: all 0.4s ease-in-out;
    z-index: 15;
}

.image-box:hover .caption {
    opacity: 1;
    transform: translateY(0);
}

/* 4. Labels & Text inside Caption */
.type-badge {
    background: var(--color-primary);
    color: white;
    font-size: 0.7rem;
    padding: 4px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-weight: bold;
}
.image-box h3 {
    color: var(--theme-color);
}

.status-delivered {
    margin-top: 12px;
    font-size: 0.85rem;
    color: var(--text-color);
    font-weight: 600;
}

.caption p {
    color: #ddd;
    font-size: 0.75rem;
    max-width: 85%;
}


/* ends here! */
.input-container {
    border: none;
    width: 60%;
    margin: 0 auto;
    /* background-color:#f5f6f7 ; */
    padding: 1.2rem;
}
label {
    color: var(--text-color);
}
label,input {
    display: block;
    border: none;
    font-family: Tahoma;

}
input {
    /* border-bottom: 1px solid grey; */
    width: 100%;
    outline: none;
    padding: 1.2rem;
    margin-bottom: 1rem;
}
textarea {
    width: 100%;
    height: 100px;
    padding: 1.2rem;
}
#invalid-input {
    text-align: center;
    color: red;
    font-size: .9rem;
    margin-top: 1rem;
}
.required {
    color: red;
}
.message {
    text-align: center;
    font-family: Tahoma;
    color: var(--text-color);
}
.contact h3 {
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
    /* color: var(--main-color); */
}
.contact p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.submit {
    text-align: center;
}
.sub-btn {
    padding: .7rem 4rem;
    margin-bottom: 3rem;
    border: 1px solid var(--text-shadow-color);
    color: var(--text-shadow-color);
}
.label-padding {
    margin-bottom: .5rem;
}
.footer {
    padding: 1.4rem;
    text-align: center;
    background-color: var(--card-bg);
    font-family: serif;
    color: var(--text-shadow-color);
   
}
.fa-linkedin,
.fa-envelope {
    background: var(--theme-color);
    border-radius: 50%;
    height: 1.6rem;
    width: 1.6rem;
    padding: .2rem;
    font-size: 1rem;
    color: black;
    transition: .3s;
}
.fa-envelope:hover{
    color:rgba(0, 0, 0, 0.5);
}
.fa-linkedin:hover {
    color: rgba(0, 0, 0, .5);
}

input,textarea {
    background-color: var(--bg-color); 
    color: var(--text-color);
    border-radius: .3rem;
    outline: none;

}
.contact {
    color: #010413;
    background-color: var(--bigCard-bg);
    max-width: 100%;
    padding: 2rem 0;
}
.contact-sect-wrapper {
    background-color: var(--card-bg);
    max-width: 85%;
    margin: 1rem auto;
    padding: 2rem;
    box-shadow: 1px 1px 1px var(--text-color);
    border-radius: .3rem;
}

/*==========media queries===========*/

@media (max-width: 998px) {
    .title {
        font-size: 3rem;
    }
    .main-title p {
        font-size: 1rem;
    }
    .hero-subtitle {
        font-size: .8rem;
    }
    .info h1 {
        font-size: 2.3rem;
    }
    .logo {
        font-size: 2rem;
    }
    .hero-text {
        padding: 2rem;
    }
}

@media(max-width: 842px) {
    .hero-image {
        width: 250px;
        height: 250px;
    }
}
@media(max-width: 784px) {
    .caption h3 {
        font-size: .9rem;
        margin-bottom: 5px;
    }

    .caption p {
        font-size: 0.7rem;
        line-height: 1.3;
        max-width: 95%;
    }
}
@media(max-width: 758px) {
    .hero-image {
        width: 200px;
        height: 200px;
        margin-left: -100px;
        margin-top: 200px;
    }
    .title {
        font-size: 2.5rem;
    }
    .info h1 {
        font-size: 2rem;
    }
}
@media(max-width: 730px) {
.hero {
    display: flex;
    flex-direction: column;
    height: auto;
}
.right-hero {
    width: 100%;
}
.left-hero {
    width: 100%;
}
.hero-image {
    margin: 4rem auto;
}
.hero-text {
    width: 80%;
    padding: .3rem;
    margin: 0 auto;
}
/* .info {
    width: 100%;
    padding: 4rem 0;
} */
.sect-info {
    display: flex;
    /* width: 100%; */
    flex-direction: column;
}
.right-info  {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}
.left-info {
    width: 100%;
}
.right-info h1 {
    margin-top: .6rem;
}
.right-info-text p {
    margin-top: .3rem;
}
.projects-wrapper {
    display: flex;
    flex-direction: column;
}
.project-1, .project-2 {
    width: 100%;
}
.project-2 {
    border-top: .2px solid;
    border-image-source: linear-gradient(to left, ghostwhite, var(--text-shadow-color));
    border-image-slice: 1;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.project-name {
    font-size: 1.5rem;
}

.logo {
    margin-bottom: 1rem;
    margin-left: .7rem;
    padding: .9rem;
}
.contact h3 {
    font-size: 2rem;
}
.input-container {
    width: 90%;
}
.hero-subtitle {
    font-size: .9rem;
}
.main-title {
    margin-bottom: .6rem;
}
.gallery-container {
    grid-template-columns: 1fr;
}
.caption {
    padding: 10px;
    /* justify-content: flex-start; */
    overflow-y: auto;
    padding-top: 20px;
}

.caption h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.caption p {
    font-size: .9rem;
    line-height: 1.3;
    max-width: 95%;
}

.type-badge {
    font-size: 0.75rem;
    padding: 2px 6px;
}

.status-delivered {
    margin-top: 8px;
    font-size: 0.75rem;
}

}

@media(max-width: 560px) {
    .source-link {
        font-size: .5rem;
    }
    .main-title {
        margin-bottom: 1.5rem;
    }
    .hero-image {
        width: 210px;
        height: 210px;
    }
    .hero-image::before {
        
        bottom: 15px;
        right: 15px;
    }
    .profile-info {
        padding: .6rem 0;
        font-size: .9rem;
        line-height: 1.1;
    }
    .practice-projects {
        margin-top: -3rem;
    }
    .contact h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
        line-height: 1;
    }
    .projects-wrapper {
        /* max-width: 85%; */
        padding: .6rem;
        
    }
@media (max-width: 480px) {
    .view-work-btn {
        font-weight: 400;
        font-size: .75rem;
        padding: 10px 10px;
    }
    .action-row {
        flex-direction: column;
        gap: .2rem;
    }
    .info {
        padding: 6rem 0;
    }
}
    
}
@media(max-width: 340px) {
    .contact h3 {
        font-size: 1.8rem;
    }
    .contact p {
        font-size: 1rem;
        /* margin-bottom: 2rem; */
    }
}